apiVersion: v1
kind: Service
metadata:
  name: operator-service
spec:
  selector:
    app: operator-service
  ports:
    - protocol: TCP
      port: 3002
      targetPort: 3002
  type: LoadBalancer